.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow-y:hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 0, 0,0.8);
}
.modal{
    background-color: white;
    padding: 2rem;
}
.head{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin-bottom: 10px;
    color: rgb(77, 75, 75);
}
form input{
    height: 4rem;
    border-bottom: 2px solid gray;
    padding: 5px;
    font-size: 1.4rem;
    color: rgb(78, 77, 77);
}
